<div class="jumbotron center">
     <h1>Welcome to my app!</h1>
     <p>
       <iframe style="border: 0px;" src="https://public.tableausoftware.com/views/6DegreesofKBGoogleAPIPoC/dashboard?:embed=y&amp;:from_wg=true" width="652px" height="756px" scrolling="no"></iframe>
  </p>    
</div>